<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
</head>
<body>
    {% extends "formularios/base.html" %}
    
    {% block content %}

    <p>Digite aqui os seus dados para Cadastro</p>

    <form action="{%url 'index' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Adicionar</button>
    </form>

    {% endblock content %}
</body>
</html>